/* Базовые параметры */
body {
	padding: 0;
	margin: 0;
	font-family: 'Poppins', sans-serif;
	/* font-family: 'Ubuntu', sans-serif; */
	color: 000;
	font-size: 16px;
}

h1, h2, h3, h4, h5, h6 {
	padding: 0;
	margin: 0;
	text-transform: uppercase;
}

ul, li {
	display: block;
	padding: 0;
	margin: 0;
}


/* -НАЧАЛО СЕКЦИИ "header"- */
.header {
	background: #F7F8FD;
}

.container {
	width: 1282px;
	margin: 0 auto;
}

/* все <a> в секции header станут цвета #03045E */
.header a {
	color: #03045E;
}



/* --НАЧАЛО РАЗДЕЛА НАВИГАЦИИ "nav"-- */
/* выравнять объекты в одну линию внутри другого объекта */
.menu {
	display:  flex;
}

/* убрать подчеркивание у ссылок */
.menu li a {
	text-decoration: none;
}

/* задать расстояние в 40px справа */
.menu li a {
	margin-right: 40px;
}

/* стили для кнопок */
.buttonstyle1 {
	font-size: 18px;
	text-decoration: none;
	padding: 11px 35px;
	background: #03045E;
	border-radius: 5px;
}

/* задать отдельный цвет шрифта для текста кнопки "Login" */
.nav .buttonstyle1 {
	color: #FFFFFF;
}

/* выровнять объекты на одной строке и по центру */
/* это один из первых блоков сайта => из-за бага в css margin потянят родительские объекты вниз, поэтому нужно заменить на padding */
.nav {
	display: flex;
	align-items: center;
	padding-top: 30px;
}

/* расположить по левому краю menu */
.menu {
	margin-left: auto;
}
/* --КОНЕЦ РАЗДЕЛА НАВИГАЦИИ "nav"-- */


/* --НАЧАЛО РАЗДЕЛА С ИНФОРМАЦИЕЙ "banner"-- */
.banner {
	display: flex;
	align-items: center;
}

.banner img {
	margin-top: 121px;
	margin-left: auto;
	margin-bottom: 200px;
}

.textbanner {
	width: 585px;
	height: 317px;
	color: #03045E80
}

.textbanner li {
	margin-bottom: 36px;
}

.headertextbanner {
	font-family: 'Ubuntu', sans-serif;
	font-size: 48px;
	color: #03045E;
}

/* задать отдельный цвет шрифта для текста кнопки "View Pricing" */
.banner .buttonstyle1 {
	background: #0098FF;
	color: #FFFFFF;
}
/* --КОНЕЦ РАЗДЕЛА С ИНФОРМАЦИЕЙ "banner"-- */
/* -КОНЕЦ СЕКЦИИ "header"- */



/* -НАЧАЛО СЕКЦИИ "footer"- */
.finalpodpisy {
	display: flex;
	align-items: center;
	font-size: 12px;
	color: #03045E;
	margin-top: 40px;
	margin-bottom: 40px;
}

.finalpodpisy a {
	margin-left: auto;
	text-decoration: none;
	color: #03045E;
}
/* -КОНЕЦ СЕКЦИИ "footer"- */